*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-content: center;
}
form{
    display: grid;
    justify-content: center;
    width: 600px;
    height: 50vh;
    background-color: aquamarine;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 70px);
    margin-left:10%;
    margin: 10%;
}
#first{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    
   
}
#second{
    display: grid;
    grid-column:3;
    grid-row:1;
}
#first, #second{
    margin-top: 35px;
}
#submit{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    grid-column: 2;
    height: 25px;
    width: 100px;
    margin-top:65px ;
}
#submit:hover{
    cursor: pointer;
    background-color: aquamarine;
}
